body,
html {
  background-color: #202020;
}

.cardWrapper {
  -webkit-box-shadow: 0px 0px 21px 11px rgba(63, 255, 46, 0.03);
  -moz-box-shadow: 0px 0px 21px 11px rgba(63, 255, 46, 0.03);
  box-shadow: 0px 0px 21px 11px rgba(63, 255, 46, 0.03);
}
